 /* Container needed to position the button. Adjust the width as needed */
 .container {
  width: 375px;

  height: 667px;

  background-color: #ffffff;
  }
  

  .Image {

    width: 375px;
  
    height: 251px;
  
    object-fit: contain;
  
  }


  .Arrow {

    width: 9.1px;
  
    height: 18.4px;
  
    object-fit: contain;
  
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  
    border: solid 1px #ffffff;

    
  
  }

  .Heart {

    width: 24px;
  
    height: 21px;
  
    object-fit: contain;
  
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  
    border: solid 1px #ffffff;
  
  }