

.wrapper{
    margin:0;
    padding:0;
    display:flex;
    flex-direction: column;
    
    flex-wrap:wrap;

    
}



.header{
    display: flex;
    width: 355px;
    height: 30px;
    padding: 10px;
    
    border: solid 0.5px #b69f58;

    align-items: center;
    
    justify-content: space-between;
    
}





.arrow-left{
    width: 20px;
    height: 20px;
    object-fit: contain;
    color: #b69f58;
    margin-bottom: 10px;
}

.headline{
    width: 37px;
    height: 31px;
    font-family: MillerBanner;
    font-size: 22px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.13px;
    text-align: center;
    color: #202020;
    margin-top: 10px;
}


.filter-img{
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-top: 10px;
}





/* Insert custom-select-dropdown here*/

.dropdown{
    width: 377px;
    height: 40px;
    background-color: #f9f9f9;
    font-family: HelveticaNeue;
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #202020;
    border: solid 0.5px #b69f58;
    text-align: center;
    
}




